extends layout

append content
  .container.content
    h1 Fcc-Voting
    if !userAuth
      h3 Select a poll to see the results and vote, or sign-in to make a new poll.
    else
      h3 Select a poll to see the results and vote, or #[a(href=websiteUrl + "/newpoll") make a new poll!]
      
    ul
      each val in polls
        li.item #[a(href=websiteUrl + "/" + val) #{val}]
      else
        li #[h2(style="color: #da0000") You don't have any created polls]
        

    
