extend layout

append content
  .container.content.row
    .col-md-6
      .form-group
        // questoin name
        label #[b I'd like to vote for:]
        select.form-control#votefor 
        
        button.btn.btnn
    .col-md-6